<%= turbo_frame_tag dom_id(address) do %>
  <div class="row">
    <div class="col">
      <% @address_class = Address %>
      <h2 class="h4 mb-4"><%= @address_class.model_name.human %></h2>

      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:address) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.address %></p>
        </div>
      </div>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:city) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.city %></p>
        </div>
      </div>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:state) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.state %></p>
        </div>
      </div>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:postal_code) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.postal_code %></p>
        </div>
      </div>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:latitude) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.latitude %></p>
        </div>
      </div>

      <div class="row border-bottom mx-2 mb-3 pb-2">
        <div class="col-sm-4">
          <p class="mb-0"><%= @address_class.human_attribute_name(:longitude) %></p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @address.longitude %></p>
        </div>
      </div>

      <div class="row justify-content-end pr-5 pt-4">
        <div class="col-3">
          <div class="d-flex justify-content-end">
            <%= link_to "Edit", edit_user_address_path(address.user, address), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>