<article class="container-fluid content">
  <header class="row mb-5">
    <div class="col">
      <nav class="bg-light rounded py-3 px-5 mb-1 d-flex justify-content-between">
        <%= link_to users_path, class: "btn btn-light btn-lg" do %>
          <i class="bi bi-arrow-left"></i>
          <span>Back to Users</span>
        <% end %>

        <%= button_to @user, method: :delete, class: "btn btn-danger btn-rounded btn-lg" do %>
          <i class="bi bi-trash3-fill"></i>
          <span>Delete</span>
        <% end %>
      </nav>
    </div>
  </header>

  <div class="row justify-content-center">
    <div class="col">
      <div class="container px-0">
        <div class="row">
          <div class="col">
            <div class="card mb-4">
              <div class="card-body text-center user-card-body">
                
                <div class="row align-items-start">
                  <div class="col-4">
                    <% cache [@user, :profile] do %>
                      <%= render "users/user_profile", user: @user %>
                    <% end %>
                    
                    <div
                        class="nav flex-column nav-pills text-center"
                        id="v-pills-tab"
                        role="tablist"
                        aria-orientation="vertical">

                        <%= link_to "Personal Data",
                              @user,
                              class: "nav-link",
                              role: "tab", aria: { selected: false } %>

                        <%= link_to "Billing Details",
                              "#",
                              class: "nav-link active",
                              role: "tab", aria: { selected: true } %>
                        
                        <% occupation= @user.occupation %>
                        <% occupation_link = occupation.nil? ? new_user_occupation_path(@user) : user_occupation_path(@user, occupation) %>
                        <%= link_to "Company",
                              occupation_link,
                              class: "nav-link",
                              role: "tab", aria: { selected: false } %>
                              
                      </div>
                  </div>
                  <div class="col-8 mt-4">
                    <% cache @address do %>
                      <%= render @address %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>