<%= turbo_frame_tag dom_id(bank) do %>
  <div class="row">
    <div class="col">
      <h2 class="h4 mb-4"><%= bank.class.model_name.human %></h2>
      
      <% url = bank.persisted? ? user_bank_path(bank.user, bank) : user_banks_path(bank.user) %>
      <%= form_with(model: bank, url: url) do |form| %>
        <% if bank.errors.any? %>
          <div class="alert alert-danger error-alert">
            <p><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</p>

            <ul>
              <% bank.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-4">
            <%= form.label :iban, class: "form-label mb-0" %>
          </div>
          <div class="col-8">
            <%= form.text_field :iban, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-4">
            <%= form.label :currency, class: "form-label mb-0" %>
          </div>
          <div class="col-8">
            <%= form.text_field :currency, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-4">
            <%= form.label :card_type, class: "form-label mb-0" %>
          </div>
          <div class="col-8">
            <%= form.text_field :card_type, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-4">
            <%= form.label :card_number, class: "form-label mb-0" %>
          </div>
          <div class="col-8">
            <%= form.text_field :card_number, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-5">
            <%= form.label :card_expiration_month, class: "form-label mb-0" %>
          </div>
          <div class="col-7">
            <%= form.number_field :card_expiration_month, min: 1, max: 12, step: 1, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row border-bottom mx-2 mb-3 pb-2">
          <div class="col-5">
            <%= form.label :card_expiration_year, class: "form-label mb-0" %>
          </div>
          <div class="col-7">
            <%= form.number_field :card_expiration_year, min: 2000, max: Date.current.year + 10, step: 1, class: "form-control p-0 border-0" %>
          </div>
        </div>

        <div class="row justify-content-end pr-5 pt-4">
          <div class="col-3">
            <div class="d-flex justify-content-end gap-4">
              <% if bank.persisted? %>
                <%= link_to "Cancel", user_bank_path(bank.user, bank), class: "btn btn-danger" %>
              <% end %>
              <%= form.submit class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>