<tr id="<%= dom_id(user, :row) %>">
  <td>
    <%= check_box_tag dom_id(user), user.id, false,
          class: "form-check-input", aria: { label: user.name },
          data: { bulk_operation_target: "checkbox", action: "change->bulk-operation#toggle" } %>
  </td>
  <td>
    <div class="d-flex align-items-center gap-3">
      <div>
        <% if user.image.present? %>
          <%= image_tag(user.image, height: 45, width: 45, alt: user.name, class: "rounded") %>
        <% else %>
          <div class="rounded-circle user-row-default-picture"></div>
        <% end %>
      </div>
      <div>
        <p class="fw-bold mb-1"><%= user.name %></p>
        <p class="text-muted mb-0"><%= user.email %></p>
      </div>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <p class="mb-0"><%= user.age %></p>
    </div>
  </td>
  <td>
    <div class="d-flex align-items-center">
      <p class="mb-0"><%= user.gender.to_s.capitalize  %></p>
    </div>
  </td>
  <td>
    <div class="d-flex gap-2 align-items-center justify-content-end">
      <%= link_to user, class: "btn btn-rounded" do %>
        <i class="bi bi-card-heading"></i>
        <span>Details</span>
      <% end %>
      
      <%= button_to user, method: :delete, class: "btn btn-danger btn-rounded" do %>
        <i class="bi bi-trash3-fill"></i>
        <span>Delete</span>
      <% end %>
    </div>
  </td>
</tr>