<article class="container-fluid content">
  <header class="row mb-5">
    <div class="col">
      <nav class="bg-light rounded p-3 mb-1">
        <div class="d-flex justify-content-end">
          <%= link_to "New user", new_user_path, class: "btn btn-primary" %>
        </div>
      </nav>
    </div>
  </header>
  
  <div class="row justify-content-center">
    <div class="col">
      <%= render "user_search", user_search: @user_search %>

      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>
      
      <div class="row" id="users">
        <table class="table table-hover align-middle mb-0 bg-white border rounded">
          <thead class="bg-light">
            <tr>
              <th><span class="d-inline-block users-table-header-name"><%= model_human_attribute_name(:name) %></span></th>
              <th><%= model_human_attribute_name(:age) %></th>
              <th><%= model_human_attribute_name(:gender) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "user_row", collection: @users, as: :user %>
          </tbody>
        </table>
        <div class="row pt-3 pr-2">
          <div col="col">
            <%== pagy_bootstrap_nav(@pagy) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
